[Unit]
Description=denops

[Service]
Type=simple
ExecStart=deno run -A --no-lock /home/cocoalix/.local/share/nvim/lazy/denops.vim/denops/@denops-private/cli.ts --hostname=0.0.0.0 --port=3376 >> /dev/null &
Restart=always

[Install]
WantedBy=default.target

